*~
*.log
*.tgz
.DS_Store
node_modules/
coverage/
benchmark-results.json
.coverage-shared/
.coverage-details/
local-certs/private/*
!local-certs/private/openssl.cnf
local-certs/*.crt
local-certs/*.pem
local-certs/*.pub
!local-certs/readme.md
